---
title: آخر التدوينات
layout: main
description: "مقالات وشروحات في هندسة البرمجيات من محمد صلاح في React، JavaScript، HTML، CSS، Web Security"
---

<header class="main-header">
    <h1 class="main-header-title">{{ title }}</h1>
    <div class="main-header-info text-secondary">
        <time datetime="{{ 'now' | date: '%Y-%m-%d' }}">{{ "now" | date: "%Y-%m-%d" }}</time>
        <span class="separator" aria-hidden="true">•</span>
        <span>
        {{ collections.post.length }}
        تدوينة
        </span>
    </div>
</header>

{% assign sorted_posts = collections.post | sort: "date" | reverse %}
{% for post in sorted_posts limit:10 %}
    {% include "_post-preview.liquid" %}
{% endfor %}

<a class="see-more" href="/archive" title="عرض جميع التدوينات">
مشاهدة جميع التدوينات 

<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left" viewBox="0 0 16 16" aria-label="سهم يشير إلى أعلى اليسار">
    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0z"/>
</svg>
</a>
